/* Image styling
------------------ */

.container .image-holder {
  width: 69.9%;
}

.container .form-inner {
  width: 30.1%;
}

.image-holder {
  background: url("../../assets/registration-img.jpg") no-repeat;
  background-size: cover;
}

.image-holder img {
  display: none;
}

/* Form styling
------------------ */
.form-inner {
  background: #f2f2f2;
  padding-top: 16.36vh;
  padding-left: 4vw;
  padding-right: 4vw;
}

form {
  width: 100%;
}

.form-header {
  text-align: center;
  margin-bottom: 39px;
}

h3 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "montserrat", sans-serif;
}

label {
  margin-bottom: 11px;
  display: block;
}

.form-input {
  border: 1px solid rgba(84, 84, 84, 1);
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 45px;
  background: none;
  padding: 0 19px;
  color: #000;
  font-size: 17px;
}

.form-control small {
  margin-bottom: 20px !important;
  visibility: hidden;
}


button {
  border: none;
  width: 100%;
  height: 46px;
  border-radius: 22.5px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #008547;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background: rgba(0, 133, 71, 0.8);
  color: white;
}

/* Javascript errors/success styling
------------------ */

.form-control.success input {
  border: 1px solid #008547;
}

.form-control.error input {
  border: 1px solid #bf153a;
}

.form-control.error small {
  font-size: 12px;
  visibility: visible;
  color: #bf153a;
}

#emailForm {
  display: none;
}

#form-status {
  display: none;
}


/* Media Query
------------------ */
@media (max-width: 1500px) {
  .form-inner {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

@media (max-width: 1199px) {
  .container {
    flex-direction: column;
  }

  .container .image-holder {
    width: 100%;
    height: 45vh;
  }

  .container .form-inner {
    width: 100%;
    height: 55vh;
  }

  .form-inner {
    padding-left: 20vw;
    padding-right: 20vw;
  }

  button {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .container .image-holder {
    height: 37vh;
  }

  .wrapper .form-inner {
    height: 63vh;
  }

  .socials {
    margin-top: 40px;
  }

  .form-header {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .container .form-inner {
    height: auto;
  }

  .container .image-holder {
    height: auto;
  }

  .image-holder img {
    display: block;
  }

  .form-inner {
    padding: 30px 20px;
  }

  button {
    width: 100%;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;

    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }
}
